<h1 class="center">This is our Community</h1>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="well">
            <% @users.each do |user| %>
                <div class="panel">
                    <span><%= link_to gravatar_for(user), user_path(user) %></span>
                    <p> User Name: <%=user.username %></p>
                    <p> User Email: <%=user.email %></p>
                    <p> Articles Posted: <%= pluralize(user.articles.count, "article") if user.articles %> </p>
                </div>
            <% end %>
        </div>
    </div>
</div>

